body {
    font: 90% "Lucida Grande",Arial;
    color: #eee;
    background: #351155;
}

#speaks {
	font-size: 120px;
	color: #eecc22;
	margin-left: 300px;
	margin-top: 30px;
}

#statement {
	font-size: 44px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 100px;
}

/* h1 { */
/*     margin: 0; */
/*     padding: 0; */
/*     line-height: 100%; */
/*     color: #444; */
/* } */
/* h4 { */
/*     font-size: 80%; */
/* } */
/* table { */
/*     width: 100%; */
/*     font-size: 80%; */
/*     margin: 10px 0 0 0; */
/* } */
/* table th { */
/*     text-align: left; */
/*     background: #DDD; */
/*     padding: 3px; */
/* } */
/* table td { */
/*     padding: 5px; */
/* } */
/* form input { */
/*     font-size: 80%; */
/* } */
/* #container { */
/*     margin: 20px auto; */
/*     width: 600px; */
/*     background: #FFF; */
/*     padding: 15px; */
/*     -moz-border-radius: 10px; */
/*     -webkit-border-radius: 10px; */
/*     border: 1px solid #999; */
/* } */
